.programs-page-hero{
  width: 100%;
  height: 80vh;
  overflow: hidden;

  position: relative;
}

.navbar{
  background-color: white;
  height: 10vh;
}

.programs-page-hero img{
  width: 100%;
  height: 80vh;
  object-fit: cover;
  object-position: bottom;

  position: absolute;
  z-index: -1;
}

.programs-sections{
  width: 100%;
  height: 75vh;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, .1);
  position: relative;
  overflow: hidden;
}


.programs-sections img{
  position: absolute;
  width: 60%;
  height: 100%;
  object-fit: contain;
  object-position: top;
  opacity: .9;
  z-index: -1;
  bottom: 0;
}

.program-shs-img{
  top: 0;
  right: 0;
  transform: scale(1.2);
}


.discription-container-content{
  position: absolute;
  width: 500px;
  height: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 100px;
  right: 100px;
}

.shs-content{
  top: 100px;
  left: 100px;
}

.senior-section{
  background-color: rgba(0, 0, 0, .12);
}

.discription-container-content h1,.discription-container-content p{
  text-align: center;
}



.discription-container-content button{
  margin: 10px 0 0 0;
  width: 120px;
  height: 50px;
  background-color: royalblue;
  font-size: 1.1rem;
  font-weight: bold;
  border: none;
}

.discription-container-content button a{
  text-decoration: none;
  color: white;
}